<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CinePlus</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/gestionar.css') }}">

    

</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <img src="{{ url_for('static', filename='img/Hollywood__3_-removebg-preview.png') }}" alt="CinePlus Logo">
        </div>        
        <ul class="nav-links">


        
            {% if 'user_id' in session and session['rol'] != 'administrativo' %}
                <li><a href="#">Cartelera</a></li>
                <li><a href="#">Confitería</a></li>
                <li><a href="#">Promociones</a></li>

                
            {% elif 'user_id' in session and session['rol'] == 'administrativo' %}
            <li><a href="{{ url_for('listar_peliculas') }}">Gestionar Películas</a></li>
            <li><a href="{{ url_for('gestionar_confiteria') }}">Gestionar Confitería</a></li>
            <li><a href="{{ url_for('gestionar_funciones') }}">Gestionar Funciones</a></li>
            <li><a href="{{ url_for('gestionar_salas') }}">Gestionar Salas</a></li>
            {% endif %}
        
            {% if 'user_id' in session %}
                <li class="user-menu">
                    <a href="#" class="user-icon">
                        <img src="{{ url_for('static', filename='img/user.gif') }}" alt="Usuario" width="40">
                    </a>
                    <ul class="dropdown">
                        <li><a href="{{ url_for('profile') }}">Perfil</a></li>
                        <li><a href="{{ url_for('logout') }}" class="logout-btn">Cerrar Sesión</a></li>
                    </ul>
                </li>
            {% else %}
            <li><a href="#">Cartelera</a></li>
            <li><a href="#">Confitería</a></li>
            <li><a href="#">Promociones</a></li>

                <li><a href="{{ url_for('login') }}">Regístrate / Login</a></li>

            {% endif %}
        </ul>
        <div class="menu-toggle" onclick="toggleMenu()">☰</div>
    </nav>
    


    
    <script src="{{ url_for('static', filename='js/navbar.js') }}"></script>

</html>
