<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar Contraseña</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    
</head>
<body>

    <div class="background-movies"></div>
        
    <nav class="navbar">
        <div class="logo">
            <img src="{{ url_for('static', filename='img/Hollywood__3_-removebg-preview.png') }}" alt="CinePlus Logo">
        </div>
        <ul class="nav-links">
            <li><a href="{{ url_for('index') }}">Inicio</a></li>
            <li><a href="{{ url_for('billboard') }}">Cartelera</a></li>
            <li><a href="{{ url_for('confectionery') }}">Confitería</a></li>
            <li><a href="{{ url_for('promociones') }}">Promociones</a></li>

            <li><a href="{{ url_for('login') }}">Regístrate / Login</a></li>    
        </ul>
        <div class="menu-toggle" onclick="toggleMenu()">☰</div>
    </nav>
    <div class="login-wrapper">
        <div class="login-container">
            <h2>Recuperar Contraseña</h2>
            <p>Ingresa tu correo y te enviaremos instrucciones</p>
            <form action="/forgot-password" method="POST">
                <div class="input-group">
                    <input type="email" name="email" required placeholder=" ">
                    <label>Correo Electrónico</label>
                </div>
                <button type="submit" class="btn">Enviar Instrucciones</button>
                <div class="links">
                    <a href="{{ url_for('login') }}">Volver al inicio de sesión</a>
                </div>
            </form>
        </div>
    </div>
</body>
<script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
</html>
